
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <!-- Enlace a tu archivo de estilos CSS -->
    <link rel="stylesheet" href="./tutor-listar.component.css" />
  </head>


  <body>



    <br><br>

    <div class="container">

      <div style="text-align: center">
        <br>
        <h1>Lista de Tutores</h1>
      </div>


    <div style="text-align: right">
      <button mat-raised-button color="primary" routerLink="/pages/Tutor/Agregar">Ir a Registro</button>
    </div>

    <mat-form-field>
      <input matInput (keyup)="filtrar($event)" placeholder="Buscar" />
    </mat-form-field>

    <div style="text-align: right;">
      <button mat-raised-button color="primary" routerLink="/"><span class="material-icons">home</span></button>
    </div>
    <br>

    <!-- Contenido de tu componente -->
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <!--- Note that these columns can be defined in any order.
      The actual rendered columns are set as a property on the row definition -->
      <!-- ID Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef class="header-id">ID</th>
        <td mat-cell *matCellDef="let element" class="cell-id">
          {{ element.idTutor }}
        </td>
      </ng-container>
      <!-- Nombres Column -->
     <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef class="header-nombre">Nombres</th>
        <td mat-cell *matCellDef="let element" class="cell-nombre">
          {{ element.nombreTutor }}
        </td>
      </ng-container>
      <!-- Apellido Paterno Column -->
      <ng-container matColumnDef="Apellido_Paterno">
        <th mat-header-cell *matHeaderCellDef class="header-apellidop">
          Apellido Paterno
        </th>
        <td mat-cell *matCellDef="let element" class="cell-apellidop">
          {{ element.apellidoPatTutor }}
        </td>
      </ng-container>
      <!-- Apellido Materno Column -->
      <ng-container matColumnDef="Apellido_Materno">
        <th mat-header-cell *matHeaderCellDef class="header-apellidom">
          Apellido Materno
        </th>
        <td mat-cell *matCellDef="let element" class="cell-apellidom">
          {{ element.apellidoMatTutor }}
        </td>
      </ng-container>
      <!-- DNI Column -->
      <ng-container matColumnDef="DNI">
        <th mat-header-cell *matHeaderCellDef class="header-dni">DNI</th>
        <td mat-cell *matCellDef="let element" class="cell-dni">
          {{ element.dniTutor }}
        </td>
      </ng-container>
      <!-- Telefono Column -->
      <ng-container matColumnDef="telefono">
        <th mat-header-cell *matHeaderCellDef class="header-telefono">
          Telefono
        </th>
        <td mat-cell *matCellDef="let element" class="cell-telefono">
          {{ element.telefono }}
        </td>
      </ng-container>
      <!-- Email Column -->
      <ng-container matColumnDef="Email">
        <th mat-header-cell *matHeaderCellDef class="header-email">Email</th>
        <td mat-cell *matCellDef="let element" class="cell-email">
          {{ element.email }}
        </td>
      </ng-container>
      <!-- Tipo de persona Column -->
      <ng-container matColumnDef="Tipo_de_persona">
        <th mat-header-cell *matHeaderCellDef class="header-tipo">
          Tipo de persona
        </th>
        <td mat-cell *matCellDef="let element" class="cell-tipo">
          {{ element.tipopersona }}
        </td>
      </ng-container>

      <ng-container matColumnDef="accion01">
        <th mat-header-cell *matHeaderCellDef>Editar</th>
        <td mat-cell *matCellDef="let element">
          <button mat-raised-button color="primary" [routerLink]="['edicion',element.idTutor]"><span class="material-icons">build</span></button>
        </td>
      </ng-container>
      <ng-container matColumnDef="accion2">
        <th mat-header-cell *matHeaderCellDef> Eliminar </th>
        <td mat-cell *matCellDef="let element">
          <button mat-raised-button color="primary" (click)="confirm(element.idTutor)"><span class="material-icons">delete</span></button>
        </td>
      </ng-container>

       <!-- Columnas a mostrar -->
       <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
       <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
     </table>
     <mat-paginator [pageSizeOptions]="[3, 6, 9]" [pageSize]="3" [length]="dataSource.data.length"></mat-paginator>

     <br><br>
     <div style="text-align: center">
      <button mat-raised-button color="primary" routerLink="/pages/Estudiantes/Listar">Lista de Estudiantes</button>
    </div>

    <div style="text-align: right">
      <button mat-raised-button color="primary" routerLink="/pages/Tarjeta/Listar">Tarjeta</button>
    </div>


    <br><br>
  </div>

  <br>
  </body>


</html>
