<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

  <br><br>
  <div class="container">
    <div style=" text-align: center;">
      <h1>Cantidad de psicologos por especialidad </h1>
    </div>
    <br>

    <div style="text-align: right;">
      <button mat-raised-button color="primary" routerLink="/pages/Psicologo/Listar"><span class="material-icons">arrow_back</span></button>
      &nbsp;&nbsp;
      <button mat-raised-button color="primary" routerLink="/pages/Navbar"><span class="material-icons">home</span></button>
    </div>
    <br>

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <ng-container matColumnDef="especialidad">
        <th mat-header-cell *matHeaderCellDef> Especialidad</th>
        <td mat-cell *matCellDef="let element"> {{element.nombre}}</td>
      </ng-container>

      <ng-container matColumnDef="psicologo">
        <th mat-header-cell *matHeaderCellDef> Nombre de los Psicologos</th>
        <td mat-cell *matCellDef="let element"> {{element.nombrePsico}}</td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="cantidad">
        <th mat-header-cell *matHeaderCellDef> Cantidad de <br> Psicologos en total </th>
        <td mat-cell *matCellDef="let element"> {{element.psicologoContar}} </td>
      </ng-container>



      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

  </div>

</body>
</html>
