<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>



<body>
  <br>  <br>
  <div>
    <div class="container" style="text-align: center;">

      <h1>Registro de Modulos Sugeridos</h1>
      <br>

      <form [formGroup]="form" (submit)="aceptar()">

      <mat-form-field class="example-full-width">
        <mat-label>Id</mat-label>
        <input matInput placeholder="id" formControlName="idModulosSugeridos">
      </mat-form-field>

      <br>

      <mat-form-field appearance="fill">
        <mat-label>pruebaevaluacion</mat-label>
        <mat-select formControlName="pruebaevaluacion" [(value)]="idpruebaevaluacionSeleccionado" required>
          <mat-option *ngFor="let b of listapruebaevaluacion" [value]="b.idPruebaEvaluacion">
            {{b.diagnosticoPE}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <br>

      <mat-form-field appearance="fill">
        <mat-label>modulo</mat-label>
        <mat-select formControlName="modulo" [(value)]="idmoduloSeleccionado" required>
          <mat-option *ngFor="let a of listamod" [value]="a.idModulo">
            {{a.nombreModulo}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <br>

        <button mat-raised-button color="primary" (click)="aceptar()">Aceptar</button>
        &nbsp; &nbsp; &nbsp;
        <button mat-raised-button color="primary" routerLink="/pages/ModuSugeridos/Listar">Cancelar</button>
      <p>{{mensaje}}</p>

      </form>
    </div>
  </div>






</body>



</html>
