<mat-form-field>
  <mat-label>Filter</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Enter Filter" #input>
</mat-form-field>
<button mat-raised-button color="accent" routerLink="/Rendido/Agregar"> Nuevo</button>
<div style="text-align: right;">
  <button mat-raised-button color="primary" routerLink="/PruebaEvaluacion/Listar"><span class="material-icons">arrow_back</span></button>
</div>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort>

    <!-- ID Column -->
    <ng-container matColumnDef="idRendido">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
      <td mat-cell *matCellDef="let row"> {{row.idRendido}} </td>
    </ng-container>

    <!-- Nombre Column -->
    <ng-container matColumnDef="nombreRendido">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
      <td mat-cell *matCellDef="let row"> {{row.nombreRendido}} </td>
    </ng-container>

    <!-- Agregar Column -->
    <ng-container matColumnDef="action1">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Editar </th>
      <td mat-cell *matCellDef="let row">
        <button mat-icon-button routerLink="/Rendido/Editar/{{row.idRendido}}"> <mat-icon fontIcon="build"></mat-icon></button>
      </td>
    </ng-container>

    <!-- Borrar Column -->
    <ng-container matColumnDef="action2">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Eliminar </th>
      <td mat-cell *matCellDef="let row">
        <button (click)="deleteRendido(row.idRendido)" mat-icon-button> <mat-icon fontIcon="delete"></mat-icon></button>
      </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    <!-- Row shown when there is no matching data. -->
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
    </tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" aria-label="Select page of users"></mat-paginator>
</div>

