
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Documents</title>
<!--<link rel="stylesheet" href="cat-listar.component.css"> -->

</head>



<body>



  <div class="container">

    <br><br>
    <h1>Categoria de Citas</h1>


    <div style="text-align: right;">
      <button mat-raised-button color="primary" routerLink="/pages/Citas/Agregar">Ir a Registro</button>
    </div>
    <br>

<mat-form-field>
  <input matInput (keyup)="filtrar($event)" placeholder="Buscar">
</mat-form-field>


 <div style="text-align: right;">
    <button mat-raised-button color="primary" routerLink="/pages/Navbar"><span class="material-icons">home</span></button>
  </div>
  <br>


    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->

      <!-- Position Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> Id.</th>
        <td mat-cell *matCellDef="let element"> {{element.idcatCita}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="nombreCita">
        <th mat-header-cell *matHeaderCellDef> Categoría </th>
        <td mat-cell *matCellDef="let element"> {{element.nombreCita}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="descripcionCita">
        <th mat-header-cell *matHeaderCellDef> Descripción </th>
        <td mat-cell *matCellDef="let element"> {{element.descripcionCita}} </td>
      </ng-container>

      <ng-container matColumnDef="accionCat">
        <th mat-header-cell *matHeaderCellDef> Editar </th>
        <td mat-cell *matCellDef="let element">
          <button mat-raised-button color="primary" [routerLink]="['edicion',element.idcatCita]"><span class="material-icons">build</span></button>
        </td>
      </ng-container>
      <ng-container matColumnDef="accionCat02">
        <th mat-header-cell *matHeaderCellDef> Eliminar </th>
        <td mat-cell *matCellDef="let element">
          <button mat-raised-button color="primary" (click)="confirm(element.idcatCita)"><span class="material-icons">delete</span></button>
       </td>
      </ng-container>



      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <br><br>

    <mat-paginator [pageSizeOptions]="[2, 5, 10]"
    showFirstLastButtons
    aria-label="Select page Artist">
    </mat-paginator>

    <br>
    <div style="text-align: center;">
      <button mat-raised-button color="primary" routerLink="/pages/CitasProgramadas/Listar">Ver Registro de Citas</button>
    </div><br>
    <div style="text-align: center">
     <button mat-raised-button color="primary" routerLink="/pages/reportes/modulo-contar-citasByCat">Reporte 05. Contar citas según categoría</button>
   </div><br>
   <div style="text-align: center">
    <button mat-raised-button color="primary" routerLink="/pages/reportes/modulo-contar-citasByPsico">Reporte 06. Contar citas atendidas por psicologo</button>
  </div><br><br>
    <div style="text-align: right">
      <button mat-raised-button color="primary" routerLink="/pages/PruebaEvaluacion/Listar">Prueba</button>
    </div>
    <br><br><br>
  </div>

</body>
</html>
