

.container
{
  width: 40%;
  background-color:linen;
}


/* etiqueta esa*/

h1
{
background-color: black;
color: aliceblue;
font-style:normal;
font-size: 200%;
}

button
{
color: aqua;
}

body
{
background-color:linen;
}
