
<app-author></app-author>




<body>

  <br><br><br><br>

<div class="container" style="text-align: center;">

<br>
<h1>Menu de la app "SOPHIA"</h1>
<br><br>

    <div style="text-align: center;">
      <button mat-raised-button color="primary" routerLink="/Estado/Listar">Ver Lista de "Estado" </button>
    </div>
    <br>

    <div style="text-align: center;">
      <button mat-raised-button color="primary" routerLink="/Curso/Listar">Ver Lista de Cursos </button>
    </div>
    <br>

    <div style="text-align: center;">
      <button mat-raised-button color="primary" routerLink="/Psicologo/Listar">Ver Lista de Psicologos </button>
    </div>
    <br>

    <div style="text-align: center;">
      <button mat-raised-button color="primary" routerLink="/Tutor/Listar">Ver Lista de Tutores </button>
    </div>
    <br>

    <div style="text-align: center;">
      <button mat-raised-button color="primary" routerLink="/Citas/Listar">Ver Lista de Citas </button>
    </div>
    <br>








    <br>

  </div>

</body>
