
  <mat-toolbar color="primary" *ngIf="verificar()">

    <mat-toolbar-row>

    <span>Menu de la app "SOPHIA"</span>
    <span class="example-spacer"></span>


    <button mat-menu-item class="example-icon"  aria-label="Example icon-button with menu icon"
       *ngIf="validarRol()" routerLink="/pages/Estado/Listar" mat-raised-button color="primary" >
          <span>Estado</span>
      </button> &nbsp;&nbsp;

      <button mat-menu-item class="example-icon" aria-label="Example icon-button with menu icon"
       *ngIf="validarRol()" routerLink="/pages/Curso/Listar" mat-raised-button color="primary">
          <span>Cursos</span>
      </button> &nbsp;&nbsp;

      <button mat-menu-item  class="example-icon" aria-label="Example icon-button with menu icon"
      *ngIf="role=='ADMIN'"  routerLink="/pages/Psicologo/Listar" mat-raised-button color="primary">
          <span>Psicologos</span>
      </button> &nbsp;&nbsp;

      <button mat-menu-item  class="example-icon" aria-label="Example icon-button with menu icon"
      *ngIf="role=='ADMIN'"  routerLink="/pages/Tutor/Listar" mat-raised-button color="primary">
          <span>Tutores</span>
      </button> &nbsp;&nbsp;

      <button mat-menu-item  class="example-icon" aria-label="Example icon-button with menu icon"
      *ngIf="role=='ADMIN'"  routerLink="/pages/Citas/Listar" mat-raised-button color="primary">
          <span>Cat. de Citas</span>
      </button> &nbsp;&nbsp;

      <button mat-menu-item  class="example-icon" aria-label="Example icon-button with menu icon"
      routerLink="/login"  (click)="cerrar()">
          <mat-icon>logout</mat-icon>
          <span>Cerrar sesiòn</span>
      </button> &nbsp;&nbsp;

    </mat-toolbar-row>


  </mat-toolbar>

<router-outlet></router-outlet>
<!--padres para navegar hacia sus hijos-->
