.example-spacer {
  flex: 1 1 auto;
}


button
{
  color: rgb(19, 6, 46);
  width: 10%;
  border: 2px solid black;
  font-size: 15px;

}

body
{
  background-color:rgb(34, 34, 202);
}

img
{
  background: no-repeat center center fixed ;
  background-size: cover;
}
