mat-form-field {
  width: 95%;
  }

  h1
{
  background-color: black;
  color: aliceblue;
  font-style:normal;
  font-size: 200%;
  text-align: center;
}


.container
{
  width: 35%;
  background-color:linen;
}

body
{
  background: linear-gradient(150deg, #a6d4c7, #7284d4);
}
