.container
{
  width: 40%;
  background-color:linen;
  font-style: bold;
  font-weight: bold;
  font-family: 'Gill Sans';
}


/* etiqueta esa*/

h1
{
  background-color: black;
  color: aliceblue;
  font-style:normal;
  font-size: 200%;
  text-align: center;
}

td {
  font-size: 120%;
  border: 2px solid black;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  background-color:white;
  text-align: center;
}

th {
  font-size: 100%;
  overflow: hidden;
  border: 2px solid black;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: center;
  color:white;
}


body
{
  background-color:linen;
}

.mat-elevation-z8
{
  background-color: rgb(64, 72, 179);
}
