
<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Menu de la app "SOPHIA"</span>
    <span class="example-spacer"></span>

    <button routerLink="/Estado/Listar" mat-raised-button color="accent">Ver Lista de Estado </button>

    <button routerLink="/Curso/Listar" mat-raised-button color="accent">Ver Lista de Cursos </button>

    <button routerLink="/Psicologo/Listar" mat-raised-button color="accent">Ver Lista de Psicologos </button>

    <button routerLink="/Tutor/Listar" mat-raised-button color="accent">Ver Lista de Tutores </button>

    <button routerLink="/Citas/Listar" mat-raised-button color="accent">Ver Lista de Citas </button>
  </mat-toolbar-row>
</mat-toolbar>







