
<mat-toolbar-row color="primary">
  <mat-toolbar-row>
    <span>Menu de la app "SOPHIA"</span>
    <span class="example-spacer"></span>

    <button routerLink="/Estado/Listar" mat-raised-button color="primary">Ver Lista de Estado </button> &nbsp;&nbsp;

    <button routerLink="/Curso/Listar" mat-raised-button color="primary">Ver Lista de Cursos </button> &nbsp;&nbsp;

    <button routerLink="/Psicologo/Listar" mat-raised-button color="primary">Ver Lista de Psicologos </button> &nbsp;&nbsp;

    <button routerLink="/Tutor/Listar" mat-raised-button color="primary">Ver Lista de Tutores </button> &nbsp;&nbsp;

    <button routerLink="/Citas/Listar" mat-raised-button color="primary">Ver Lista de Citas </button> &nbsp;&nbsp;
  </mat-toolbar-row>
</mat-toolbar-row>







