
<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Menu de la app "SOPHIA"</span>
    <span class="example-spacer"></span>

    <button routerLink="/pages/Estado/Listar" mat-raised-button color="primary">Ver Lista de Estado </button> &nbsp;&nbsp;

    <button routerLink="/pages/Curso/Listar" mat-raised-button color="primary">Ver Lista de Cursos </button> &nbsp;&nbsp;

    <button routerLink="/pages/Psicologo/Listar" mat-raised-button color="primary">Ver Lista de Psicologos </button> &nbsp;&nbsp;

    <button routerLink="/pages/Tutor/Listar" mat-raised-button color="primary">Ver Lista de Tutores </button> &nbsp;&nbsp;

    <button routerLink="/pages/Citas/Listar" mat-raised-button color="primary">Ver Lista de Citas </button> &nbsp;&nbsp;


  </mat-toolbar-row>
</mat-toolbar>















