

  .container
  {
    width: 40%;
    background-color:linen;
  }


/* etiqueta esa*/

h1
{
  background-color: black;
  color: aliceblue;
  font-style:normal;
  font-size: 200%;
}

button
{
  border: 2px solid black;
}



body
{
  background: linear-gradient(150deg, #a6d4c7, #7284d4);
}
