<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>


</head>
<body>


      <br>
      <div class = "container" style="text-align: center">

        <div style = "text-align: center;">
              <h1>Lista de Modulos Sugeridos a Estudiantes</h1>
        </div><br>


        <div style="text-align: right;">
          <button mat-raised-button color="primary" routerLink="/pages/ModuSugeridos/Agregar">Ir a Registro de Modulos Sugeridos</button>
        </div><br>


        <div style="text-align: left;">
          <mat-form-field>
            <input matInput (keyup)="filtrar($event)" placeholder="Buscar" >
          </mat-form-field>
          </div>



          <div style="text-align: right;">
            <button mat-raised-button color="primary" routerLink="/pages/Modulos/Listar"><span class="material-icons">arrow_back</span></button>
            &nbsp;&nbsp;
            <button mat-raised-button color="primary" routerLink="/"><span class="material-icons">home</span></button>
          </div>
          <br>



      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> idModulosSugeridos </th>
          <td mat-cell *matCellDef="let element"> {{element.idModulosSugeridos}} </td>
        </ng-container>

        <ng-container matColumnDef="idprueba">
          <th mat-header-cell *matHeaderCellDef> idprueba </th>
          <td mat-cell *matCellDef="let element"> {{element.pruebaevaluacion.idPruebaEvaluacion}} </td>
        </ng-container>

        <ng-container matColumnDef="Prueba">
          <th mat-header-cell *matHeaderCellDef> Diagnostico </th>
          <td mat-cell *matCellDef="let element"> {{element.pruebaevaluacion.diagnosticoPE}} </td>
        </ng-container>

        <ng-container matColumnDef="Modulo">
          <th mat-header-cell *matHeaderCellDef> Nombre del Modulo </th>
          <td mat-cell *matCellDef="let element"> {{element.modulo.nombreModulo}} </td>
        </ng-container>


        <ng-container matColumnDef="accion01">
          <th mat-header-cell *matHeaderCellDef> Editar </th>
          <td mat-cell *matCellDef="let element">
            <button mat-raised-button color="primary" [routerLink]="['edicion', element.idModulosSugeridos]"><span class="material-icons">build</span></button>
          </td>
          </ng-container>
        <br>

        <ng-container matColumnDef="acciones2">
          <th mat-header-cell *matHeaderCellDef> Eliminar </th>
          <td mat-cell *matCellDef="let element">
            <button mat-raised-button color="primary" (click)="confirm(element.idModulosSugeridos)"><span class="material-icons">delete</span></button>
          </td>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

    </div>

    <br><br>
    <div style="text-align: center">
     <button mat-raised-button color="primary" routerLink="/pages/ModuInscritos/Listar">Lista de Modulos Inscritos</button>
   </div>



</body>
</html>
