h1
{
  color:white;
  font-size: 30px;
  font-style:bold;
  font-weight: bold;
  font-family: 'Gill Sans';
}
body
{
  background:linen;
}

.container
{

  width: 700px;
  background-color:linen;
  border-radius: 30px;
  text-align: center;
}
.container h1
{
  text-align: center;
  padding: 20px 0 0 0;
  background-color:black;

}
.container table
{
  border-radius: 30px;
  background-color: whitesmoke;
}
