<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>


</head>
<body>


      <br>
      <div class = "container" style="text-align: center">

        <div style = "text-align: center;">
              <h1>Lista de Comprobante de Pago</h1>
        </div><br>


        <div style="text-align: right;">
          <button mat-raised-button color="primary" routerLink="/ComprobantePago/Agregar">Ir a Registro de Comprobante de Pago</button>
        </div><br><br>


      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> id del comprobante de pago</th>
          <td mat-cell *matCellDef="let element"> {{element.idComprobantePago}} </td>
        </ng-container>

        <ng-container matColumnDef="IGV">
          <th mat-header-cell *matHeaderCellDef> IGV </th>
          <td mat-cell *matCellDef="let element"> {{element.montoIGV}} </td>
        </ng-container>

        <ng-container matColumnDef="documento">
          <th mat-header-cell *matHeaderCellDef> Documento </th>
          <td mat-cell *matCellDef="let element"> {{element.tipoDocumento}} </td>
        </ng-container>

        <ng-container matColumnDef="ruc">
          <th mat-header-cell *matHeaderCellDef> RUC </th>
          <td mat-cell *matCellDef="let element"> {{element.ruc}} </td>
        </ng-container>

        <ng-container matColumnDef="razonSocial">
          <th mat-header-cell *matHeaderCellDef> Razón Social </th>
          <td mat-cell *matCellDef="let element"> {{element.razonSocial}} </td>
        </ng-container>

        <ng-container matColumnDef="numBoletaFactura">
          <th mat-header-cell *matHeaderCellDef> Boleta </th>
          <td mat-cell *matCellDef="let element"> {{element.numBoletaFactura}} </td>
        </ng-container>



        <ng-container matColumnDef="pagoModulo">
          <th mat-header-cell *matHeaderCellDef> Pago </th>
          <td mat-cell *matCellDef="let element"> {{element.pagoModulo.montopormodulo}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

    </div>





</body>
</html>


